<mat-card class="card">
    <mat-card-header>
        <img mat-card-avatar class="header-image" src="{{pokemonImg}}" alt="Pokemon">
      <mat-card-title>{{pokemon.name}}</mat-card-title>
      <mat-card-subtitle>No.{{pokemon.id}}</mat-card-subtitle>
    </mat-card-header>

    <img mat-card-image src="{{pokemonImg}}" alt="Pokemon">

    <mat-card-content>
        <mat-chip-listbox class="chips">
            <mat-chip>Type: {{pokemonType}}</mat-chip>
            <mat-chip>Height: {{pokemon.height}}</mat-chip>
            <mat-chip>Weight: {{pokemon.weight}}</mat-chip>
          </mat-chip-listbox>
    </mat-card-content>
  </mat-card>